<!DOCTYPE html>
<html>
    <head>
    <title>Courses we provide</title>
    <link href="courses.css" type="text/CSS" rel="stylesheet">
    </head>
    <body>
        <section class="course_1">
            <h1>Courses</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit minus laboriosam veniam eius officiis praesentium quos quidem asperiores officia maiores accusantium qui sapiente, cum laborum porro aut accusamus nam vitae.</p>
        </section>
    </body>
</html>
